:root {
  --primary-color: rgba(28, 28, 174, 0.8);
  --background-color: #f8f8f8;
  --border-color: #e0e0e0;
  --text-color: #333;
  --shadow-grey-30: rgb(60 64 67 / 30%);
  --shadow-grey-15: rgb(60 64 67 / 15%);
  --light-grey: rgb(231, 231, 231);
  --dark-grey: #5f6368;
  --grey: #f5f5f5;
  --green: green;
  --green-light: rgb(196, 242, 217);
}
.notesForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 1px 2px 0 var(--shadow-grey-30),
    0 2px 6px 2px var(--shadow-grey-15);
  border-color: var(--border-color);
  max-width: 35rem;
  border-radius: 0.5rem;
  min-height: 2rem;
  padding: 0.625rem 1rem;
}

.notesFormActions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.notesCardActionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notesCardActionsColor {
  border: none;
  cursor: pointer;
  padding: auto;
  padding-top: 4px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
}

.notesCardActionsSave {
  border: none;
  cursor: pointer;
  padding: auto;
  padding-top: 4px;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  color: var(--green);
}

.notesCardActionsSave:hover {
  background-color: var(--green-light);
  transition: background-color 0.218s ease-in;
  border-radius: 50%;
}

.notesCardActionsColor:hover {
  background-color: var(--light-grey);
  transition: background-color 0.218s ease-in;
  border-radius: 50%;
}

.notesContainer {
  padding: 2rem;
}

.notesList {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notesListEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 10rem;
}

.notesListEmptyBulb {
  font-size: 7.5rem;
  color: var(--grey);
}

.notesListEmptyMessage {
  color: var(--dark-grey);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.notesCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  max-width: 37rem;
  margin: 8px;
  overflow: hidden;
  -moz-transition-duration: 0.218s;
  transition-duration: 0.218s;
  -moz-transition-property: background, border, opacity, -moz-box-shadow,
    -moz-transform;
  transition-property: background, border, opacity, box-shadow, transform;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  min-height: 8rem;
}

.notesCard:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.notesCardTitle {
  text-align: left;
  box-sizing: border-box;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  transition: background-color 0.218s ease-in;
  padding: 0 1rem 0 1rem;
  letter-spacing: 0.00625em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.notesCardDescription {
  text-align: left;
  box-sizing: border-box;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #202124;
  padding: 0 1rem 0 1rem;
  letter-spacing: 0.01428571em;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.notesCardActions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1rem 1rem 0;
}

.notesCardActionsDelete {
  border: none;
  cursor: pointer;
  padding: 4px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
}

.notesCardActionsDelete:hover {
  background-color: rgb(231, 231, 231);
  transition: background-color 0.218s ease-in;
  border-radius: 50%;
}

.notesCardActionsDeleteMessage {
  margin: 3rem;
}

.notesEditForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 1px 2px 0 var(--shadow-grey-30),
    0 2px 6px 2px var(--shadow-grey-15);
  border-color: var(--border-color);
  padding: 0.625rem 1rem;
  width: 35rem;
  height: 100%;
}

.notesEditFormTitle {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .notesEditForm {
    width: 25rem;
  }
}

@media (max-width: 500px) {
  .notesEditForm {
    width: 15rem;
  }
  .notesList {
    padding: 0;
  }
  .notesCardActionsDeleteMessage {
    margin: 1rem;
  }
}
@media (max-width: 320px) {
  .notesEditForm {
    width: 10rem;
  }
}
